BasedOnStyle: WebKit
ColumnLimit: 79
IndentCaseLabels: true
InsertBraces: true
InsertTrailingCommas: None
MaxEmptyLinesToKeep: 1
PointerAlignment: Right
QualifierAlignment: Left
ReferenceAlignment: Right
SeparateDefinitionBlocks: Always
SortIncludes: CaseSensitive
SpaceAfterCStyleCast: false
SpaceAfterLogicalNot: false
SpaceAfterTemplateKeyword: true
SpaceAroundPointerQualifiers: Default
SpaceBeforeAssignmentOperators: true
SpaceBeforeCaseColon: false
SpaceBeforeCpp11BracedList: true
SpaceBeforeCtorInitializerColon: true
SpaceBeforeRangeBasedForLoopColon: true
SpaceBeforeSquareBrackets: false
SpaceInEmptyBlock: false
SpacesInAngles: Never
SpacesInContainerLiterals: false
SpacesInSquareBrackets: false
Standard: c++20
UseTab: Never
BreakConstructorInitializers: AfterColon
BreakInheritanceList: AfterComma
BreakBeforeBinaryOperators: All
BreakBeforeBraces: WebKit
BreakBeforeConceptDeclarations: Always
BreakBeforeTernaryOperators: true
BreakStringLiterals: false
