[submodule "glfw"]
	path = glfw
	url = git@github.com:glfw/glfw.git
[submodule "build/glad"]
	path = build/glad
	url = git@github.com:Dav1dde/glad.git
[submodule "external/stb_image"]
	path = external/stb_image
	url = git@github.com:franko/stb_image.git
[submodule "external/imgui"]
	path = external/imgui
	url = git@github.com:ocornut/imgui.git
[submodule "external/ImGuizmo"]
	path = external/ImGuizmo
	url = git@github.com:CedricGuillemet/ImGuizmo.git
