services:
  builder:
    build:
      context: .
      dockerfile: Dockerfile
    image: scenelab:build
    container_name: scenelab-builder
    volumes:
      - ./dist:/dist:rw
    deploy:
      resources:
        limits:
          memory: 4G
        reservations:
          memory: 1G
